.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content {
  margin-top: 50px;
  display: flex;
  width: 1366px;
}

.image {
  flex: 50%;
  height: 290px;
  background-color: black;
}

.text {
  flex: 50%;
  margin-top: 20px;
}
.textContent,
.textContent2,
.textContent3 {
  display: flex;
  margin-top: 5px;
}

.textContent {
  margin-left: -6px;
}

.textContent img {
  width: 85px;
  height: 85px;
  fill: #003070;
}

.textContent2 img {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-left: 22px;
  margin-right: 15px;
}

.textContent3 img {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-left: 22px;
  margin-right: 15px;
}

.textContent h2,
.textContent2 h2,
.textContent3 h2 {
  margin: 0px;
  margin-top: 10px;
  font-size: 1.65rem;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1;
  color: #003070;
}

.textContent p,
.textContent2 p,
.textContent3 p {
  margin: 0px;
  color: #003070;
  font-weight: 500;
  font-size: 18px;
}

.map_responsive {
  overflow: hidden;

  position: relative;

  height: 290px;
}

.map_responsive iframe {
  left: 0;

  top: 0;

  height: 100%;

  width: 100%;

  position: absolute;
}

@media (max-width: 480px) {
  .content {
    margin-top: 50px;
    flex-direction: column;
    width: 390px;
  }
  .image {
    flex: auto;
    width: 390px;
  }
  .text {
    flex: auto;
  }

  .map_responsive {
    height: 350px;
  }

  .content {
    margin-bottom: 50px;
  }
}

@media (max-width: 999px) {
  .content {
    margin-top: 50px;
    flex-direction: column;
    width: 80vw;
  }

  .image {
    flex: auto;
    width: 80vw;
  }
  .text {
    flex: auto;
  }

  .map_responsive {
    height: 400px;
  }

  .content {
    margin-bottom: 50px;
  }
}

@media (max-width: 350px) {
  .content {
    width: 90vw;
  }
  .image {
    width: 90vw;
  }
}
