.container {
  background-color: #001e47;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.content2 {
  width: 100vw;
  margin: 0px;
  margin: 30px 0;
}

.content2 ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0px;
  margin-top: 5px;
  padding: 0 40px;
}

.content2 img {
  width: 91px;
  height: 78px;
}

.content1 {
  margin-top: 70px;
  display: flex;
  width: 82rem;
  justify-content: center;
}

.div1 {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 {
  flex: 60%;
  background-color: black;
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1 h2 {
  z-index: 2;
  font-size: 4rem;
  margin: 0px;
  margin-left: -50px;
  font-weight: 800;
  letter-spacing: -4px;
  line-height: 1;
  color: white;
  position: relative;
}

.div1 h2::before {
  content: "❝";
  top: -50px;
  left: -15px;
  position: absolute;
  font-size: 35rem;
  opacity: 0.2;
  z-index: -1;
  color: #0f0f0f;
}

.div1 span {
  z-index: 2;
  color: #ff3131;
}

.coment {
  z-index: 2;
  width: 400px;
  height: 400px;
  background-color: #f8f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  margin-top: 50px;
  width: 85%;
  height: 2px;
  background-color: #003070;
}

.logo {
  width: 80px;
  height: 80px;
  background-color: #0f0f0f;
}

.comentDetails {
  display: flex;
  margin-top: 30px;
}

.comentName {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.comentName h2 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -2px;
}

.comentName ul {
  margin: 0;
  margin-top: -8px;
  padding: 0;
  list-style: none;
  display: flex;
}

.comentName li {
  width: 20px;
}

.comentName li img {
  width: 100%;
  height: 100%;
}

.comentName span {
  color: #003070;
  font-weight: 800;
  font-size: 12px;
}

.comentText {
  width: 73%;
}

.comentText p {
  font-size: 18px;
  color: #003070;
  font-weight: 600;
}

@media (max-width: 480px) {
  .content1 {
    flex-direction: column;
    align-items: center;
  }

  .div1 {
    flex: auto;
  }

  .div1 h2 {
    font-size: 3.5rem;
  }

  .div1 h2::before {
    top: -20px;
    left: -40px;
    font-size: 25rem;
  }

  .div2 {
    margin-top: 80px;
    flex: auto;
    background-color: black;
    width: 90vw;
    height: 400px;
  }

  .coment {
    width: 90vw;
    height: 400px;
  }

  .content2 img {
    width: 40.95px;
    height: 35.1px;
  }
}

@media (min-width: 481px) and (max-width: 699px) {
  .content1 {
    flex-direction: column;
    align-items: center;
  }

  .div2 {
    margin-top: 50px;
    flex: auto;
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .content1 {
    flex-direction: column;
    align-items: center;
  }

  .div2 {
    margin-top: 50px;
    flex: auto;
    width: 80vw;
    height: 600px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .content1 {
    width: 65rem;
  }
}

@media (max-width: 340px) {
  .div2 {
    height: 450px;
  }

  .coment {
    height: 450px;
  }
}

@media (min-width: 1600px) {
  .content1 {
    width: 95%;
  }

  .content {
    width: 90vw;
  }
}
