.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.content {
  margin: 0px 130px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.text h2 {
  color: #003070;
}

.text h3 {
  color: #ff3131;
}

.text h2,
.text h3 {
  font-size: 3.5rem;
  margin: 0px;
  font-weight: 800;
  letter-spacing: -4px;
  line-height: 1;
}

.cardsContainer {
  display: flex;
  margin: 20px 0px;
}

.card1 .card:not(:first-child) {
  margin-top: 75px;
}

.card {
  width: 530px;
  height: 400px;
  background-color: black;
}

.cardImg {
  height: 300px;
}

.card2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30px;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text2 h2 {
  font-size: 2.8rem;
  margin-top: 30px;
  font-weight: 800;
  letter-spacing: -4px;
  line-height: 1;
  text-align: center;
  color: #003070;
  margin-bottom: 20px;
}

.text2 span {
  color: #ff3131;
}

.container button {
  background-color: #ff3131;
  color: white;
  border-radius: 20px;
  border-color: #ff3131;
  font-weight: lighter;
  font-size: 1.3rem;
  margin: 0px 0px;
  padding: 5px 10px;
  width: fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cardContainer {
  width: 100%;
  height: 110px;
  background-color: #003070;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardText {
  margin: 0;
  margin-top: 5px;
  gap: 20px;
  display: flex;
  align-items: center;
  width: 420px;
}

.cardText img {
  width: 50px;
}
.line {
  margin-top: 20px;
  width: 400px;
  height: 2px;
  background-color: #fff;
}

.cardText h2 {
  margin: 0;
  color: #fff;
  font-weight: 900;
  font-size: 30px;
}

@media (max-width: 480px) {
  .container {
    margin-top: 100px;
  }
  .cardsContainer {
    margin-top: 75px;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .card {
    width: 98vw;
    height: 350px;
  }

  .card2 {
    margin-left: 0;
    margin-top: 75px;
  }

  .line {
    width: 80%;
  }

  .cardText {
    width: 80%;
  }

  .cardText h2 {
    font-size: 25px;
  }

  .text2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media (max-width: 340px) {
  .text h2,
  .text h3 {
    font-size: 3rem;
  }

  .cardText h2 {
    font-size: 19px;
  }
}

@media (min-width: 540px) and (max-width: 1099px) {
  .container {
    margin-top: 100px;
  }
  .cardsContainer {
    margin-top: 75px;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .card2 {
    margin-left: 0;
    margin-top: 75px;
  }
  .text2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media (min-width: 481px) and (max-width: 539px) {
  .container {
    margin-top: 100px;
  }
  .cardsContainer {
    margin-top: 75px;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .card2 {
    margin-left: 0;
    margin-top: 75px;
  }
  .text2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .card {
    width: 98vw;
    height: 350px;
  }
}

@media (min-width: 1600px) {
  .card2 {
    margin-left: 3vw;
  }

  .cardsContainer {
    margin-bottom: 100px;
  }
}
