.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.content img {
  width: 932px;
  height: 621px;
}

.buttonDiv {
  position: absolute;
  left: 7%;
  bottom: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonDiv p {
  margin: 0px;
  color: white;
  text-decoration: underline;
  font-size: 1.1rem;
  cursor: pointer;
}

.buttonDiv p:hover {
  color: #ff3131;
}

.button {
  background-color: #ff3131;
  color: white;
  border-radius: 20px;
  border-color: #ff3131;
  font-weight: 700;
  font-size: 1.9rem;
  margin: 0px 0px;
  padding: 0px 10px;
  width: fit-content;
}

.button:hover {
  background-color: #ff3131;
}

.close {
  position: absolute;
  right: 0;
}

.close {
  background-color: transparent;
  border: 0;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.2s;
}

.close:hover {
  background-color: transparent;
  color: #003070;
  scale: 1.1;
}

@media (min-width: 831px) and (max-width: 1300px) {
  .content img {
    width: 745px;
    height: 496px;
  }

  .button {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0px 10px;
  }
}

@media (min-width: 601px) and (max-width: 830px) {
  .content img {
    width: 378px;
    height: 672px;
  }

  .buttonDiv {
    left: 10%;
    bottom: 4.5%;
  }
}

@media (min-width: 385px) and (max-width: 600px) {
  .content img {
    width: 302px;
    height: 537px;
  }

  .buttonDiv {
    bottom: 4.5%;
  }
}

@media (max-width: 384px) {
  .content img {
    width: 241px;
    height: 429px;
  }

  .button {
    font-size: 1.3rem;
  }

  .buttonDiv {
    left: 8%;
    bottom: 2%;
  }
}
