.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  top: 0px;
  transition: top 0.3s;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000000;
}

.div {
  margin: 0px 50px;
}

.divLogo {
  margin-left: 30px;
}

.nav img {
  height: 50px;
}

.menu {
  gap: auto;
  width: fit-content;
  list-style: none;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #404e9e;
}

.menu li {
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: 0.2s;
  scale: 1;
}

.menu li:hover {
  background-color: #2d5388;
  color: #fff;
  cursor: pointer;
  scale: 1.05;
}

.menu li:active {
  background-color: #001e47;
}

button {
  background-color: white;
  border: 5px solid #404e9e;
  color: #404e9e;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background-color: #404e9e;
  color: #fff;
  scale: 1.1;
}

.dropdown {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #404e9e;
  gap: 20px;
  padding: 0px;
}

.dropdown li {
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.dropdown.open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown.open li:active {
  background-color: #404e9e;
  color: #fff;
}

.hamburger {
  display: none;
}

.hamburger img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

@media (max-width: 1050px) {
  .menu,
  .div {
    display: none;
  }

  .divLogo {
    margin: 30px 10px;
  }

  .nav img {
    height: 50px;
  }

  .nav {
    height: 80px;
  }

  .hamburger {
    display: block;
  }

  .hamburger img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .menu,
  .div {
    display: none;
  }

  .divLogo {
    margin: 30px 10px;
  }

  .nav img {
    height: 50px;
  }

  .nav {
    height: 80px;
  }

  .hamburger {
    display: block;
  }

  .hamburger img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

@media (max-width: 389px) {
  .nav img {
    height: 35px;
  }
}

@media (max-width: 289px) {
  .nav img {
    height: 30px;
  }
}
