.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  top: 0px;
  transition: top 0.3s;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000000;
}

.nav.hidden {
  top: -120px; 
}

.div {
  margin: 0px 50px;
}

.divLogo {
  margin: 20px 50px;
}

.nav img {
  height: 60px;
}

.menu {
  list-style: none;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #001e47;
}

.menu li {
  margin: 0px 40px;
  font-size: 1.2rem;
}

button {
  background-color: white;
  border: 5px solid #001e47;
  color: #001e47;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
}
